body{
  background-color: #ededed;
  font-family: sans-serif;
}

#personalDetails, #surveyDetails{
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#personalDetails{
  margin-bottom: 22px;
}

.personalDetail{
  width: 80%;
  flex-direction: row;
  padding: 6px 12px;
  gap: 8px;
}

.personalDetail label, input{
  flex: 1;
}

.personalDetail label{
  width: 200px;
  padding: 6px;

}

h1, p{
  color: #343434;
  text-align: center;
}

p{
  font-size: 1.2em;
}

form{
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  font-size: 1.2em;
}


input{
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  font-size: 1.2em;
}

textarea{  
  background-color: #aaaaaa;
}
select{
  font-size: 1em;
}
