body{
  background-color: #ededed;
  font-family: sans-serif;
}

#personalDetails, #surveyDetails{
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}

#personalDetails{
  margin-bottom: 22px;
}

.personalDetail{
  width: 80%;
  flex-direction: row;
  padding: 6px 12px;
  gap: 8px;
}

.personalDetail label, input{
  flex: 1;
  text-align: center;
}

.personalDetail label{
  width: 25%;
  padding: 6px;

}

#surveyDetails{
  margin-bottom: 22px;
}

.personalDetail input{
  width: 60%;
}

#contactPermission{
  flex-direction: row;
  align-items: center;
}

#contactPermission label{
  width: 30%;
}

.fullWidth{
  width: 100%;
  padding: 6px auto;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

#referralSource{
  display: flex;
  gap: 8px;
}

#otherRequirements{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

#otherRequirements label{
  display: block;
  width: 100%;
}

#otherRequirements textarea{
  width: 60%;
  margin: 8px;
}

button[type="submit"]{
  display: flex;
  padding: 8px;
  font-size: 1.5em;
  margin: auto;
}

h1, p{
  color: #343434;
  text-align: center;
}

p{
  font-size: 1.2em;
}

form{
  margin: 0 auto;
  width: 80%;
  min-width: 300px;
  max-width: 500px;
  font-size: 1.2em;
}

input{
  background-color: #aaaaaa;
  border-color: #aaaaaa;
  font-size: 1.2em;
}

textarea{  
  background-color: #aaaaaa;
}
select{
  font-size: 1em;
}

fieldset{
  border: none;
}